:root {
  --blue: #1c77c3;
  --light-blue: #39a9db;
  --lighter-blue: #40bcd8;
  --orange: #f39237;
  --red: #d63230;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Animation Key Frames*/

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}
/* set up the body */
body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: rgb(10, 10, 30);
  color: white;
}

section {
  margin: 0;
}

/* Intro section and its children */

.intro__section {
  display: grid;
  height: 80vh;
  width: 100%;
  margin: 0;
  place-items: center;
  text-align: right;
  position: relative;
}

.intro__section > h1 {
  font-size: clamp(2em, 8vw, 4em);
  font-weight: 400;
  margin: 0;
  padding: 20px;
}

.magic {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--blue),
    var(--light-blue),
    var(--red),
    var(--orange),
    var(--lighter-blue),
    var(--blue)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 0.75em;
  background-size: 200%;
}

.intro__section > a {
  color: white;
  margin: 0;
  position: absolute;
  font-size: 2em;
}

.intro__section > a:first-child {
  top: 10%;
  left: 10%;
}

.intro__section > a:nth-child(2) {
  top: 10%;
  left: 20%;
}

.intro__section > a:nth-child(3) {
  top: 92%;
  animation: flip 3s ease-in-out 10;
}
/* projects section and children */

.projects__section {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0px;
  position: relative;
  z-index: 2;
}

#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  background-color: var(--orange);
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
  z-index: 3;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.08);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.92);
}

#nav-toggle > .button-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) scale(0.9);
  color: white;
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

body:not([data-nav="true"]) > .projects__section > #nav-toggle:hover > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > .projects__section > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > .projects__section > #nav-toggle {
  background-color: var(--red);
}
/* The specific porject cards*/
.project__cards {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  justify-content: space-evenly;
  padding-top: 15vh;
  box-sizing: border-box;
  z-index: 2;
  background-color: rgb(10, 10, 30);
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

body[data-nav="true"] > .projects__section > .project__cards {
  transform: translateY(-60%);
}

.project__card {
  aspect-ratio: 1/1;
  height: 28vw;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  cursor: pointer;
}
.project__card__bottom {
  height: 40%;
  padding-top: 10%;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5));
  font-size: medium;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 400ms ease-in;
}

.project__card:hover > .project__card__bottom {
  opacity: 1;
  visibility: visible;
}
#project-one {
  background-image: url("./odinbook.svg");
}

#project-two {
  background-image: url("https://images.unsplash.com/photo-1674290143192-dbd48683b51c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
}

#project-three {
  background-image: url("https://images.unsplash.com/photo-1633624875787-ec89de82324f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
}

/* This is the Nav */

nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
}

#nav-links {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.9);
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
  overflow-x: scroll;
}

body[data-nav="true"] > .projects__section > nav > #nav-links {
  transform: translateY(0%) scale(1);
}

#nav-links > .nav__link {
  text-decoration: none;
}

#nav-links > .nav__link > .nav__link__label {
  color: white;
  font-size: 1.25rem;
  margin: 0rem;
  text-transform: uppercase;
}

#nav-links > .nav__link > .nav__link__image {
  width: max(20vw, 400px);
  aspect-ratio: 1.8 / 1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  nav {
    overflow-y: scroll;
  }

  #nav-links {
    flex-direction: column;
    align-items: center;
  }

  .project__cards {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .project__card {
    width: 50vw;
    aspect-ratio: 1/1;
  }
}
